.wrapper-slide{
	.fp-tableCell{
		@include media-breakpoint-up(xl) {
			vertical-align: middle;
		}
		@include media-breakpoint-up(lg) {
		vertical-align: bottom;
		}
	}
	@include media-breakpoint-up(lg) {

		.swiper-wrapper{
			height: 100vh;
			// align-items: flex-end;
		}
	}

}
.slider-about__slide{
	display: flex;
	justify-content: center;
	align-items: center;
	&--team{
		align-items: flex-end;
		// justify-content: flex-end;
	}
}
.s-about {
		.container{
			@include media-breakpoint-up(xxl) {

				max-width: 1360px;
				padding-left: 30px;
				padding-right: 30px;
			}
			@include media-breakpoint-up(lg) {

				padding-top: rem(50px);
				padding-bottom: rem(50px);
			
			}

			padding-top: 100px;
			}
		 p{
			color: $secondary; 
			max-width: 951px;
		 }
		 &__aside-text{
			color: $secondary;
			padding-top: em(20);
			 &::before{
				 content: '“';
				 font-size: rem(51px);
				font-weight: 700;
				line-height: .5;
				vertical-align: bottom;
			 }
		 }
		 &__img-wrap{
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				width: rem(140px);
				height: rem(140px);
				@include media-breakpoint-up(md) {
				margin-left: 0;
				margin-right: 0;
				}
				margin-left: auto;
				margin-right: auto;
				img{
					max-width: 100%;
				}
			
		 }
		 &__row-foot{
			@include media-breakpoint-up(sm) {

			}
			justify-content: space-around;
			// justify-content: space-between;
		 }
		 &__col{
			 @extend .h6;
			 font-weight: bold;
			 text-align: center;
			 max-width: rem(260px);
			 width: rem(260px);
			 text-transform: uppercase;
			 @include media-breakpoint-up(xxl) {

				 padding-bottom: rem(60px);
				}
				padding-bottom: rem(30px);

		 }
		 &__icon-wrap{
			 margin-bottom: 0.5rem;
			 height: rem(60);
			 img{
				@include mt;
				position: relative;
				max-height: 100%;
			}
			&:hover{
				img{
					transform: rotateY(180deg);
				}
			}
		 }
		 &__text-block{
			 padding-bottom: rem(10);
			 @include media-breakpoint-up(xxl) {
				 padding-bottom: rem(60px);
			 }
		 }
		 &__btn{
			 margin-left: auto;
			 margin-right: auto;
			 max-width: rem(324px);
			 width: 100%;
			 display: flex;
			 @include media-breakpoint-down(md) {
				 margin-bottom: 100px;
			 }
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {
		h2,
		&__text-block--aside{
			text-align: center;
		}
		&__icon-wrap{
			width: 140px;
			margin-left: auto;
			margin-right: auto;
			height: 140px;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		padding-bottom: 100px;
	} 
	@include media-breakpoint-down(xs) {} 
	
}

.fp-controlArrow{
	display: none;
}

@include media-breakpoint-down(md) {

	.slider-about{
		.swiper-wrapper{
			// transform: translate3d(0px, 0px, 0px) !important;
		}
	}
}