.modal-win {
	display: block;
	position: relative;
	max-width: 100%;
	background-color: #ffffff;
	padding-top: rem(40);
	margin-left: auto;
	margin-right: auto;
	
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}
	.mfp-close {
		// color: $primary;
		background-color: #F6F6F6;
		color: #bababa;
		outline: none;
		// opacity: 0.5;
		font-size: 40px;
		font-weight: 100;
		width: 40px;
    height: 40px;
    border-radius: 50%;
		line-height: 40px;
		right: 20px;
		top: 20px;
	}   
	&--thanks{
		max-width: 480px;
		text-align: center;
		border-radius: 10px;
		padding-top: 20px;
	}
	&__title{
		@include rfs(rem(44));
		font-family: "PF Agora Slab Pro - Ultra Black";
		line-height: 1;
		margin-left: auto;
		margin-right: auto;
		max-width: em(150);
		padding-bottom: 0.5em;
		position: relative;
		margin-bottom: .5em;
		&::before{
			content: '';
			@include a-cent(x);
			width: em(100);
			background-color: $body-color;
			height: 3px;
			bottom: 0;
		}
	}
	&__text{
		font-size: rem(18);
		max-width: em(350);
		margin-left: auto;
		margin-right: auto;
		padding-bottom: rem(60);
	}
}


a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;
	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) { 
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;
		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}




$spinkit-size: 10em !default;
$spinkit-spinner-color: $primary !default;

// 2
.sk-double-bounce {
  width: $spinkit-size;
  height: $spinkit-size;
	// position: relative;
	// position: absolute;
	@include a-cent;
  margin: auto;

  .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $spinkit-spinner-color;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-double-bounce 2.0s infinite ease-in-out;
  }

  .sk-double-bounce-2 {
    animation-delay: -1.0s;
  }
}

@keyframes sk-double-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.0);
  }
}

.project-block-modal{
	&__inner{
		position: relative;
		z-index: 2;
		text-align: center;
		background-color: $body-color;
		background-position: left top;
		background-size: 0 0;
		min-height: 100%;
		&::before{
			content: '';
			background-image: inherit;
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			// box-shadow: inset 0 0 0 rem(100) rgba(255, 255, 255, 0.3);
			// opacity: 0.5;
			// background-size: cover;
			filter: blur(5px);
		}
		&::after{
			
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: $body-color;
			opacity: 0.5;
			filter: blur(5px); 
		}
	}
}