mixin s-portfolio()
	// / .Works
	section.wrks-wrap.section.scrollable&attributes(attributes)
		+b.wrks 
			+e.head
				.wrks_bg
					.container.pg__ttl
						h2 Наши работы
					.d-none.d-lg-block
						ul.etabs.wrks__tbs-links
							li.active
								a(href='#tab1') Все работы
							
							li 
								a(href='#tab1') Веб
							
							li 
								a(href='#tab1') Упаковка
							
							li 
								a(href='#tab1') Полиграфия
							li 
								a(href='#tab1') Мобильные приложения
							
							//
								<li><a href="#tab2"></a></li>
								<li><a href="#tab3"></a></li>
								<li><a href="#tab4"></a></li>
								<li><a href="#tab5" class="nw"></a></li>
			mixin pic(i)
				picture
					source( srcset=`img/project-${i}-sm.jpg` media="(min-width: 576px)")
					img.object-fit-js(src="img/loadgif.gif" data-src=`img/project-${i}-xs.jpg`    , alt="")
				
			mixin picL(i)
				picture
					source( srcset=`img/project-${i}-xs.jpg` media="(min-width: 576px)")
					img.object-fit-js(src="img/loadgif.gif" data-src=`img/project-${i}.jpg`    , alt="")
				
			.js-tabs.wrks__tbs
				#tab1.wrks__tbs-itm
					.arn-msnr
						//- .cl-sizer.cl-1
						+b.cl.cl-7.itm(href="#" data-img="img/project-1.jpg").full-modal-open-js
							+pic('1')
							.itm__more
								.ttl-bord
									+e.DIV.title Билборд  для лечебного  центра компания&nbsp;&mdash;  
										| 
										span.thm.d-inline-block D-medical
								button.btt.btt-blue(type="button")
									span Нажмите для просмотра проекта
						+b.cl.cl-5.itm(href="#" data-img="img/project-2.jpg").full-modal-open-js
							+pic('2')
							.itm__more
								.ttl-bord
									+e.DIV.title  Продающий сайт   для  
										| 
										span.thm.d-inline-block квест-комнаты 
										|
										br
										| “Лабиринт”
								button.btt.btt-blue(type="button")
									span Нажмите для просмотра проекта
						.cl-7
							.arn-msnr
								+b.cl.cl-7.itm.ht6(href="#" data-img="img/project-3.jpg").full-modal-open-js
									+pic('3')
									.itm__more
										.ttl-bord
											+e.DIV.title  Продающий сайт   для  
												| 
												span.thm.d-inline-block it&nbsp;компании  
												|
												| General Marketing
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
								+b.cl.cl-5.itm.ht6(href="#" data-img="img/project-4.jpg").full-modal-open-js
									+pic('4')
									.itm__more
										.ttl-bord
											+e.DIV.title Листовка   для 
												|
												| 
												span.thm.d-inline-block сети  кальянных 
												|
												| компании “Cheshire”
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
						 
								+b.cl.cl-7.itm.ht5(href="#" data-img="img/project-5.jpg").full-modal-open-js
									+pic('5')
									.itm__more
										.ttl-bord
											+e.DIV.title  Продающий сайт   для  
												| 
												| 
												span.thm.d-inline-block it&nbsp;компании  
												|
												| General Marketing
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
								+b.cl.cl-5.itm.ht5(href="#" data-img="img/project-6.jpg").full-modal-open-js
									+pic('6')
									.itm__more
										.ttl-bord
											+e.DIV.title  Листовка   для 
												span.thm.d-inline-block сети  кальянных 
												| 
												| компании “Cheshire”
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
						.cl-5.cl-5-right
							+b.cl.cl-12.itm.ht4(href="#" data-img="img/project-7.jpg").full-modal-open-js
								+pic('7')
								.itm__more
									.ttl-bord
										+e.DIV.title  Продающий сайт   для 
											span.thm.d-inline-block кроссфит проекта
											|
											|  для компании  Geroy
									button.btt.btt-blue(type="button")
										span Нажмите для просмотра проекта
							+b.cl.cl-12.itm(href="#" data-img="img/project-8.jpg").full-modal-open-js
								+pic('8')
								.itm__more
									.ttl-bord
										+e.DIV.title  Продающий сайт   для 
											span.thm.d-inline-block квест-комнаты
											| 
											| “Лабиринт”
									button.btt.btt-blue(type="button")
										span Нажмите для просмотра проекта
						+b.cl.cl-7.itm(href="#" data-img="img/project-9.jpg").full-modal-open-js
							+pic('9')
							.itm__more
								.ttl-bord
									+e.DIV.title Билборд  для лечебного  центра компания&nbsp;&mdash;  
										| 
										span.thm.d-inline-block D-medical
								button.btt.btt-blue(type="button")
									span Нажмите для просмотра проекта
						+b.cl.cl-5.itm.lst(href="#")
							+picL('all')
							#loadWorks.itm__more()
								big.thm.d-inline-block
									big +34
									br
									|  проекта 
	// .Works /