mixin s-portfolio()
	// / .Works
	section#works.wrks.scrollable&attributes(attributes)
		.wrks_bg
			.container.pg__ttl
				h2 Наши работы
		.js-tabs.wrks__tbs
			ul.etabs.wrks__tbs-links
				li.active
					a(href='#tab1') Все работы
				//
					<li><a href="#tab2">Веб</a></li>
					<li><a href="#tab3">Упаковка</a></li>
					<li><a href="#tab4">Полиграфия</a></li>
					<li><a href="#tab5" class="nw">Мобильные приложения</a></li>
			#tab1.wrks__tbs-itm
				.arn-msnr
					.cl-sizer.cl-1
					.cl.cl-7.itm.ht2(style="background-image: url('img/content/work-1.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Билборд 
									span.nw для лечебного
									|  центра компания - 
									span.nw.thm D-medical
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-5.itm(style="background-image: url('img/content/work-2.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Продающий сайт 
									br
									| для 
									span.nw.thm квест-комнаты
									br
									| “Лабиринт”
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-4.itm(style="background-image: url('img/content/work-3.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Продающий сайт 
									br
									| для 
									span.nw.thm it компании
									br
									| General Marketing
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-3.itm(style="background-image: url('img/content/work-4.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Листовка 
									br
									span.nw
										| для 
										span.thm сети
									span.thm кальянных компании
									br
									| “Cheshire”
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-5.itm.ht2(style="background-image: url('img/content/work-5.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Продающий сайт 
									br
									| для 
									span.nw.thm кроссфит проекта
									span.nw для компании
									|  Geroy
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-7.itm.ht2(style="background-image: url('img/content/work-1.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Билборд 
									span.nw для лечебного
									|  центра компания - 
									span.nw.thm D-medical
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-5.itm(style="background-image: url('img/content/work-2.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Продающий сайт 
									br
									| для 
									span.nw.thm квест-комнаты
									br
									| “Лабиринт”
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-4.itm(style="background-image: url('img/content/work-3.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Продающий сайт 
									br
									| для 
									span.nw.thm it компании
									br
									| General Marketing
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-3.itm(style="background-image: url('img/content/work-4.jpg');")
						.itm__more
							.ttl-bord
								h5
									| Листовка 
									br
									span.nw
										| для 
										span.thm сети
									span.thm кальянных компании
									br
									| “Cheshire”
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта
					.cl.cl-5.itm.ht2.lst(style="background-image: url('img/content/work-5.jpg');")
						a#loadWorks.itm__more
							big.thm
								big +34
								br
								|  проекта
						.itm__more.hid
							.ttl-bord
								h5
									| Продающий сайт 
									br
									| для 
									span.nw.thm кроссфит проекта
									span.nw для компании
									|  Geroy
							a.btt.btt-blue(href='#')
								span.nw Нажмите для просмотра проекта 
	// .Works /