mixin s-portfolio()
	// / .Works
	section.section#works.scrollable&attributes(attributes)
		+b.wrks
			.d-lg-none.text-center
				h2 Наши работы
			+e.head.d-none.d-lg-block
				.wrks_bg
					.container.pg__ttl
						h2 Наши работы
					ul.etabs.wrks__tbs-links
						li.active
							a(href='#tab1') Все работы
						
						li 
							a(href='#tab1') Веб
						
						li 
							a(href='#tab1') Упаковка
						
						li 
							a(href='#tab1') Полиграфия
						li 
							a(href='#tab1') Мобильные приложения
						
						//
							<li><a href="#tab2"></a></li>
							<li><a href="#tab3"></a></li>
							<li><a href="#tab4"></a></li>
							<li><a href="#tab5" class="nw"></a></li>
			.js-tabs.wrks__tbs
				#tab1.wrks__tbs-itm
					.arn-msnr
						//- .cl-sizer.cl-1
						+b.cl.cl-7.itm.img-bg(href="#")
							img.lazy-bg-js(src="#" data-src="img/project-1.jpg")
							.itm__more
								.ttl-bord
									+e.DIV.title Билборд  для лечебного  центра компания&nbsp;&mdash;  
										| 
										span.thm.d-inline-block D-medical
								button.btt.btt-blue(type="button")
									span Нажмите для просмотра проекта
						+b.cl.cl-5.itm.img-bg(href="#")
							img.lazy-bg-js(src="#" data-src="img/project-2.jpg")
							.itm__more
								.ttl-bord
									+e.DIV.title  Продающий сайт   для  
										| 
										span.thm.d-inline-block квест-комнаты “Лабиринт”
								button.btt.btt-blue(type="button")
									span Нажмите для просмотра проекта
						.cl-7
							.arn-msnr
								+b.cl.cl-7.itm.ht6.img-bg(href="#")
									img.lazy-bg-js(src="#" data-src="img/project-3.jpg")
									.itm__more
										.ttl-bord
											+e.DIV.title  Продающий сайт   для  
												| 
												span.thm.d-inline-block it&nbsp;компании  General Marketing
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
								+b.cl.cl-5.itm.ht6.img-bg(href="#")
									img.lazy-bg-js(src="#" data-src="img/project-4.jpg")
									.itm__more
										.ttl-bord
											+e.DIV.title Листовка   для 
												|
												| 
												span.thm.d-inline-block сети  кальянных компании
												|
												| “Cheshire”
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
						 
								+b.cl.cl-7.itm.ht5.img-bg(href="#")
									img.lazy-bg-js(src="#" data-src="img/project-5.jpg")
									.itm__more
										.ttl-bord
											+e.DIV.title  Продающий сайт   для  
												| 
												| 
												span.thm.d-inline-block it&nbsp;компании  General Marketing
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
								+b.cl.cl-5.itm.ht5.img-bg(href="#")
									img.lazy-bg-js(src="#" data-src="img/project-7.jpg")
									.itm__more
										.ttl-bord
											+e.DIV.title  Листовка   для 
												span.thm.d-inline-block сети  кальянных компании
												| 
												| “Cheshire”
										button.btt.btt-blue(type="button")
											span Нажмите для просмотра проекта
						.cl-5.cl-5-right
							+b.cl.cl-12.itm.ht4.img-bg(href="#")
								img.lazy-bg-js(src="#" data-src="img/project-7.jpg")
								.itm__more
									.ttl-bord
										+e.DIV.title  Продающий сайт   для 
											span.thm.d-inline-block кроссфит проекта
											|
											|  для компании  Geroy
									button.btt.btt-blue(type="button")
										span Нажмите для просмотра проекта
							+b.cl.cl-12.itm.img-bg(href="#")
								img.lazy-bg-js(src="#" data-src="img/project-8.jpg")
								.itm__more
									.ttl-bord
										+e.DIV.title  Продающий сайт   для 
											span.thm.d-inline-block квест-комнаты
											| 
											| “Лабиринт”
									button.btt.btt-blue(type="button")
										span Нажмите для просмотра проекта
						+b.cl.cl-7.itm.img-bg(href="#")
							img.lazy-bg-js(src="#" data-src="img/project-9.jpg")
							.itm__more
								.ttl-bord
									+e.DIV.title Билборд  для лечебного  центра компания&nbsp;&mdash;  
										| 
										span.thm.d-inline-block D-medical
								button.btt.btt-blue(type="button")
									span Нажмите для просмотра проекта
						+b.cl.cl-5.itm.lst.img-bg(href="#")
							img.lazy-bg-js(src="#" data-src="img/project-all.jpg")
							#loadWorks.itm__more()
								big.thm.d-inline-block
									big +34
									br
									|  проекта 
	// .Works /