extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-portfolio/_s-portfolio.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-servises/_s-servises.pug
include ../blocks/s-logos/_s-logos.pug

block title
	title title

block pagecontent
	
	// / CRLS
	.crls
		#callWrap.crls__form.call.crls__form-main
			.call__bg
			.call__inner
				a.btt-close.callClose
					span Закрыть
					i.icn.icn-close
				.call__ttl.ttl-bord
					h4
						span.thm Упаковка
						br
						| бизнеса
				.call__dsc
					p Упаковка — это все, что люди могут увидеть или узнать о вашей компании.
					p
						| Это процесс описания бизнеса, продукта или технологии, с целью нахождения важных преимуществ и создания на их основе материалов.
					p
						| Данные материалы способствуют улучшению показателей бизнеса или внешнего восприятия компании людьми.
					p
						| Если компания вызывает вопросы и недоверие, 
						span.nw с ней
						|  никто не будет работать.
					p
						| После упаковки клиенты начинают больше покупать, а специалисты хотят работать только 
						span.nw с вами.
				a.btt.btn-foot(href='#')
					span Оценить проект
			
		#calProject.crls__form.call
			.call__inner
				a.btt-close.callProjectClose
					span Закрыть
					i.icn.icn-close
				.h1.text-white
					span.text-warning Оценить
					br
					| ваш проект?
				+form-wrap()
					+input('user','text','Ваше имя')
					+input('email','email','Ваша почта')
					+ta('speech-bubble', 'Несколько слов о вашей задаче')
					+e.btn.btt.btn-block.btt-blue(type="button") Получить оценку проекта
					+polite()
		+b.project-block-modal
			.sk-double-bounce
				.sk-child.sk-double-bounce-1
				.sk-child.sk-double-bounce-2
			+e.inner

		#crlsNav.crls__nav
			ul#headNav.crls__nav-menu
				li(data-menuanchor="mainHead" class="active")
					a(href="#mainHead") Главная
				li(data-menuanchor="works")
					a(href="#works") Наши работы
				li(data-menuanchor="s-about")
					a(href="#s-about") О нас
				li(data-menuanchor="s-servises")
					a(href="#s-servises") Услуги
				li(data-menuanchor="s-logos")
					a(href="#s-logos") Наши клиенты
				li(data-menuanchor="s-form")
					a(href="#s-form") Контакты
				li( )
					a(href="#") Блог
			.crls__nav-scls.scls
				p Связаться с нами:
				a(href='#')
					+icon("message")
				a(href='#')
					//- i.icn.icn-sk
					+icon("skype")
				a(href='#')
					+icon("telegram")
					//- i.icn.icn-tg
				a(href='#')
					+icon("viber")
					//- i.icn.icn-vb
				a(href='#')
					+icon("whatsapp")
		.crls-cl.crls-tl
			.after
				+e.logo.logo.crls__logo(href='#')
					.logo_main.wow.fadeInLeft
						img.res-i(src="img/logo.svg", alt="")
					.logo_name.wow.fadeInRight
						img.res-i(src="img/logo-name.svg", alt="")
			a#menuOpen.crls_menu
				span.btt-menu
					i
					i
					i
				span.txt меню
		.crls-cl.crls-tr.wow.fadeIn(data-wow-delay='.22s')
			+b.crls__langs
				+e.SPAN.current.text-white Eng
				a(href='#') Rus
			a.crls__call.callDown(href="#s-form")
				span.btt-call
					span.animate
						+icon('hand2')
				span.txt связаться
			
			a.crls__call.callTop.d-none(href="#mainHead")
				span.btt-call
					span
						+icon('arrow-top')
				span.txt вверх

		.crls-cl.crls-bl.wow.fadeIn.hidden(data-wow-delay='.22s')
			ul.crls_pgs
				li.active
					a(href='#')
				li
					a(href='#')
				li
					a(href='#')
		.crls-cl.crls-bc.wow.fadeInLeft(data-wow-delay='.4s')
			a.crls_mouse(href='#')
				i.icn.icn-mouse
				i.icn.icn-arrow
		
		.crls-cl.crls-br.d-none.d-md-flex
			.crls_scls.scls
				a(href='https://www.facebook.com/DinoCSlive/', target='_blank')
					i.icn.icn-fb
				a(href='https://www.instagram.com/creative_studio_dino/', target='_blank')
					i.icn.icn-inst
				a(href='https://www.behance.net/DinoCreativeStudio/', target='_blank')
					i.icn.icn-be
				a(href='https://www.pinterest.com/dinocreativestudio/', target='_blank')
					i.icn.icn-pint
				a(href='https://www.linkedin.com/company/dino-creative-studio/', target='_blank')
					i.icn.icn-ln
		// CRLS /
	//- +mob-mnu()
	//- +header()
		//- +top-line()
		//- +top-nav()
	//- .main-wrapper
	#wrp.wrp
		+header-block(class="")
		+s-portfolio(class="fp-auto-height")
		SECTION.wrapper-slide
			+b.slider-about
				.swiper-wrapper
					+e.slide.swiper-slide
						+s-about(class="") 
					+e.slide.swiper-slide.d-none.d-lg-block
						+s-team(class="")

		+s-servises(class="")
		+s-logos(class="")
		+s-form(class="")
			+b.footer.text-center.text-white
				a.text-white.tdu(href="#") Политика конфиденциальности
				br
				| © 2009-2018 Dino Creative studio. All rights reserved.
	//- +s-contact()
	//- +footer()

