
mixin mob-mnu()
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	#crlsNav.crls__nav
		ul#headNav.crls__nav-menu
			li( class="active")
				a(href="#mainHead") Главная
			li( )
				a(href="#works") Наши работы
			li( )
				a(href="#s-about") О нас
			li( )
				a(href="#s-servises") Услуги
			li()
				a(href="#s-logos") Наши клиенты
			li()
				a(href="#s-form") Контакты
			li( )
				a(href="#") Блог
		.crls__nav-scls.scls
			p Связаться с нами:
			a(href='#')
				+icon("message")
			a(href='#')
				//- i.icn.icn-sk
				+icon("skype")
			a(href='#')
				+icon("telegram")
				//- i.icn.icn-tg
			a(href='#')
				+icon("viber")
				//- i.icn.icn-vb
			a(href='#')
				+icon("whatsapp")
	// start top-nav
	+b.top-nav
		.container
			.row
				.col-2.d-md-none
					a#menuOpen.crls_menu
						span.btt-menu
							i
							i
							i
						span.txt меню
				.col-md-auto.col-8.text-center
					+e.logo.logo.crls__logo(href='#')
						i.logo_main.wow.fadeInLeft
						i.logo_name.wow.fadeInRight
				
				.col.d-none.d-md-block
					+mnu()
				.col-auto.d-none.d-md-block
					+e.soc.crls_scls.scls
						a(href='https://www.facebook.com/DinoCSlive/', target='_blank')
							i.icn.icn-fb
						a(href='https://www.instagram.com/creative_studio_dino/', target='_blank')
							i.icn.icn-inst
						a(href='https://www.behance.net/DinoCreativeStudio/', target='_blank')
							i.icn.icn-be
						a(href='https://www.pinterest.com/dinocreativestudio/', target='_blank')
							i.icn.icn-pint
						a(href='https://www.linkedin.com/company/dino-creative-studio/', target='_blank')
							i.icn.icn-ln
					
	// end top-nav