mixin s-blog()
	// start s-blog
	+b.s-blog.section#s-blog&attributes(attributes)
		.container
			.row.row--js
				mixin item(i, l, t)
					+e.col.col-lg-4.col-sm-6.grid-item
						+e.item
							+e.img-wrap(href="#" )
								img.res-i(src=`img/blog-${i}.jpg`, alt="")
								+e.label= l
							+e.caption
								+e.title
									a.text-body(href="#")= t
								.row
									.col
										+e.small 
											+icon('clock')
											| 20.06.18

									.col-auto
										+e.small 
											+icon('comments')
											| 266 
											|
											span.d-none.d-lg-inline комментариев
					// /+e.col.col-lg-4.col-sm-6.grid-item
				+item('1','бизнес','Построение базы подписчиков с pop-up окнами от студии Demi-Art')
				+item('2','дизайн','10 советов UX - дизайнеру ')
				+item('3','маркетинг','Построение базы подписчиков с pop-up окнами от студии Demi-Art')
				block
				+item('1','маркетинг','Построение базы подписчиков с pop-up окнами от студии Demi-Art')
				+item('3','бизнес','Построение базы подписчиков с pop-up окнами от студии Demi-Art')
				+item('1','бизнес','Построение базы подписчиков с pop-up окнами от студии Demi-Art')
	// end s-blog