mixin header-block()
	// / .Promo
	section.section#main.prm&attributes(attributes)
		.wrp__bg.wow.slideInRight(data-wow-duration='1.2s')
		// / WRP
		.arn.prm__wrp
			.row.fx-aic
				.col-lg-7.col-xl-7
					.prm__dsc
						.h1.wow.fadeInUp
							b.thm Сочный
							br
							span.thm
								| дизайн 
								span.nw и разработка
							span.d-inline-block.nw для вашего  бизнеса!
						p.wow.fadeInUp(data-wow-delay='0.3s')
							| и 
							a.thm(href='#') «упаковка»
							|  бизнеса 
							span.nw под ключ
					button.btt.btt-calc.wow.fadeInUp(data-wow-delay='0.3s')
						i.icn.icn-calc
						span.nw Оценить проект
				.col-lg-5.col-xl-5.wow.fadeInRight(data-wow-delay='0.52s')
					.prm_pht
						img(src='img/head-img-1.png', alt='')
		.prm__pxs.pxs
			#px1.px.px-1
				img(src='img/backs/promo-px-1.png', alt='', data-depth='1')
			#px2.px.px-2
				img(src='img/backs/promo-px-2.png', alt='', data-depth='0.75')
			#px3.px.px-3
				img(src='img/backs/promo-px-3.png', alt='', data-depth='0.5')
	// .Promo /