mixin header-block()
	// / .Promo
	section.section&attributes(attributes)
		+b.prm
			.wrp__bg.wow.slideInRight(data-wow-duration='1.2s')
			// / WRP
			.prm__pxs.pxs.d-none.d-sm-block
				.px1.px.px-1(id=`px1`)
					img(src="#" data-src='img/backs/promo-px-1.png', alt='', data-depth='1')
				.px2.px.px-2(id=`px2`)
					img(src="#" data-src='img/backs/promo-px-2.png', alt='', data-depth='0.75')
				.px3.px.px-3(id=`px3`)
					img(src="#" data-src='img/backs/promo-px-3.png', alt='', data-depth='0.5')
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(x)
						+e.slide.swiper-slide
							.arn.prm__wrp
								.row
									.col-md-8.col-lg-7.col-xl-7.col-xxxl-6
										.prm__dsc
											block
											
										.d-none.d-md-block
											button.btt.btt-calc.wow.fadeInUp(type="button" data-wow-delay='0.3s')
												+icon('calculator')
												span.nw Оценить проект
									.col-md.wow.fadeInRight(data-wow-delay='0.52s')
										.prm_pht&attributes(attributes)
											picture
												source(type="image/webp" srcset=`img/head-img-${x}.webp` media="(min-width: 576px)")
												source(type="image/png" srcset=`img/head-img-${x}.png` media="(min-width: 576px)")
												source(type="image/webp" srcset=`img/head-img-${x}-sm.webp` )
												img(src=`img/head-img-${x}-sm.png`, alt='')
								.d-md-none
										button.btt.btt-calc.wow.fadeInUp(type="button" data-wow-delay='0.3s')
											+icon('calculator')
											span.nw Оценить проект
										.crls-cl.crls-br.crls-mobile
											.crls_scls.scls
												a(href='https://www.facebook.com/DinoCSlive/', target='_blank')
													i.icn.icn-fb
												a(href='https://www.instagram.com/creative_studio_dino/', target='_blank')
													i.icn.icn-inst
												a(href='https://www.behance.net/DinoCreativeStudio/', target='_blank')
													i.icn.icn-be
												a(href='https://www.pinterest.com/dinocreativestudio/', target='_blank')
													i.icn.icn-pint
												a(href='https://www.linkedin.com/company/dino-creative-studio/', target='_blank')
													i.icn.icn-ln
							

						// +e.slide.swiper-slide
					+slide(1)
						.h1.wow.fadeInUp
							b.thm.big Сочный
							br
							span.thm
								| дизайн 
								span.nw и разработка
							span.d-inline-block.nw для вашего  бизнеса!
						p.h4.wow.fadeInUp(data-wow-delay='0.3s')
							| и 
							a.thm.callOpen(href="#") «упаковка»
							|  бизнеса 
							span.nw под ключ
					
					+slide(2)
						.h1.wow.fadeInUp
							b Разработка 
								| 
								span.thm  упаковки
							 
						p.h4.wow.fadeInUp(data-wow-delay='0.3s')
							span.thm   и этикетки для вашей продукции 
							br
							//- br
							| и
							|
							a.thm.callOpen(href="#") «упаковка»
							|  бизнеса 
							span.nw под ключ
					
					+slide(3)
						.h1.wow.fadeInUp
							b Разработка 
								| 
								span.thm  дизайна
							span.h2.thm   полиграфической продукции  
						p.h4.wow.fadeInUp(data-wow-delay='0.3s')
							| и 
							a.thm.callOpen(href="#") «упаковка»
							|  бизнеса 
							span.nw под ключ
					
					+slide(4)
						.h1.wow.fadeInUp
							b Разработка
							br
							span.thm   одностраничных сайтов 
							
						p.h4.wow.fadeInUp(data-wow-delay='0.3s')
							| и 
							a.thm.callOpen(href="#") «упаковка»
							|  бизнеса 
							span.nw под ключ
					
					+slide(5)(class="img-mr")
						.h1.wow.fadeInUp
							b Разработка 
								| 
								span.thm  дизайна 
							br
							span.smaller.thm   широкоформатной печати
						p.h4.wow.fadeInUp(data-wow-delay='0.3s') 
						 
							| и 
							a.thm.callOpen(href="#") «упаковка»
							|  бизнеса 
							span.nw под ключ
					
					+slide(6)
						.h1.wow.fadeInUp
							b Разработка 
								| 
								span.thm и  дизайна 
						p.h4.wow.fadeInUp(data-wow-delay='0.3s')
							span.thm   мобильных приложений и интерфейсов 
							br
							| и 
							a.thm.callOpen(href="#") «упаковка»
							|  бизнеса 
							span.nw под ключ 
					
				+e.pagin.swiper-pagination.swiper-pagination-bullets
	// .Promo /