

.prm {
  .icon-calculator{
    font-size: em(30);
    margin-right: em(10);
  }
  font-family: "PF Agora Slab Pro - Ultra Black";
	.h1{
    
  }

  // &__pagination{
  // }
  .swiper-pagination{
    @extend .container;
    text-align: left;
    // height: 100vh;
    // top: 50%;
    @include a-cent(x);
    @include media-breakpoint-up(md) {

      
      text-align: right;
      bottom: 40px;
      margin-top: rem(100);
      top: auto;
    }
    top: 70px;
    bottom: auto;
    text-align: center;
  }

  .swiper-pagination-bullet{
    outline: none !important;
    @include media-breakpoint-up(sm) {
 
    }
    width: 26px;
    height: 26px;
    // width: 34px;
    // height: 34px;
    border-radius: 50%;
    // border: 2px solid $warning;
    display: inline-block;
    // margin-left: 10px;
    cursor: pointer;
    vertical-align: top;
    opacity: 1;
    position: relative;
    background: none !important;
    &::before{
      content: ''; 
      @include a-cent;
      background-color: $warning;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      @include mt;
    }
    .spinner{
      width: inherit;
      height: inherit;
    }
    .timer{
      display: none;
    }
    &:not(.swiper-pagination-bullet-active){
      &::before{
        background-color: $body-color;
      }
      canvas {
        // display: none;
        opacity: 0;
       
      }
      svg{ 
        opacity: 0;
      }
    }
  }
  .h2{
    font-size: em(10);
  }
  .smaller{
    font-size: .85em;

  }
  .h4{
    line-height: 1.8;
  }
	@include media-breakpoint-up(xl) {
  }

	@include media-breakpoint-up(lg) {
    .prm__dsc{
      margin-right: -40px;
    }
  }


	@include media-breakpoint-up(md) {
    .row{
      align-items: center;
    }
    &__wrp { 
      display: flex; 
              flex-direction: column; 
              justify-content: center;
      height: 100%; }
  }

  &__slide{
    opacity: 0;
    &:not(.swiper-slide-active){
      opacity: 0 !important;
    }
  }
  .loader{
    pointer-events: none;
  }

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {
     
  }


  
	@include media-breakpoint-down(sm) {
    // padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
    &_pht{
      margin-left: auto;
      margin-right: auto;
      max-width: 340px;
      max-height: 300px;
      img{
        // width: auto;
        // max-height: 100%;
        max-height: 320px;
        max-width: 100%;

      }
    }
    .btt{
      // margin-bottom: 40px;
      // margin-left: auto;
      // margin-right: auto;
      // display: flex;
      // @extend .btn-block;
      // width: 252px;
      // display: block
      margin-top: 40px;
    }
    &__dsc p {
      margin-bottom: .5em ;
    }
  }
  
  @include media-breakpoint-down(xs) {}
  
  .img-mr{
    position: relative;
    z-index: -1;
    margin-right: -10%;
    margin-left: -10%;
    max-width: none;
  }
}
@include media-breakpoint-down(md) {
  .iScrollVerticalScrollbar{
    display: none !important;
  }
}

.btt{
  color: #ffffff !important;
}
.wrp__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: ( (1533 / 1920) * 100%);
  height: 100%;
  background-image: url("../img/backs/promo-bg-af.png");
  background-repeat: no-repeat;
  // background:  top 0 right 0 no-repeat;
  
  background-size: 100% 100%; 
  @include media-breakpoint-down(sm) {
    background-image: url("../img/backs/promo-bg-af-m.png");
            // transform: rotate(90deg) !important;
            // top: auto;
            bottom: 0;
            top: auto;
            right: auto;
            width: 100%;
            height: 50%;
          }
  transition: transform 0.9s; 
  
}
.prm_pht{
	max-width: rem(759);
	margin-right: rem(-10);
  img{
    @extend .res-i;
  }
}

.pg__ttl {
  padding-top: rem(87);
  text-align: center;
  font-weight: 900; }
  .pg__ttl h3 {
    font-size: 38px; }

.prm {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  position: relative;
  // padding-left: 30px;
  // padding-right: 30px; 
  z-index: 2;
  @include bgs;
  position: relative;
  @include media-breakpoint-up(sm) {

    background-image: url(../img/head-bg.jpg);
  }
  background-image: url(../img/head-bg-sm.webp);
  // background-image: url(../img/head-bg-sm.jpg);
  &__slider{
    height: 100%;
  }
  &__slide{
        @include media-breakpoint-down(sm) {
          padding-top:110px;
          flex-direction: column;
          .prm__wrp{
            flex-direction: column;
            display: flex;
            flex-grow: 1;
            .row{
              margin-bottom: auto;
            }
          }
        }

    display: flex;
    min-height: 100vh;
    height: auto;
    // justify-content: center;
    @include media-breakpoint-up(md) {

      align-items: center;
    }

  }
  // bgsc
  // background:     cover no-repeat;

}
  .prm__pxs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none
   }
  .prm > .arn {
    position: relative;
    z-index: 4; }

    .prm__wrp .btt {
      }
  .prm__dsc {
    padding-top: 80px;
   }
    .prm__dsc * {
      font-weight: 900; }
    .prm__dsc .h1 {
      // font-size: 58px;
      // @include font-size(#{rem(58)});
      line-height: 1; }
      .prm__dsc .h1 b {
        &.big{
          font-size:  (126em / 58);
          margin-bottom: 10px;
          
        }
        font-size:  (122em / 58);
        line-height: .9;
        display: inline-block;
        margin-bottom: em(4);
        // margin: 0 -7px; 
      }
    .prm__dsc p {
			// @include font-size(#{rem(26)});
			margin-bottom: em(28px);
      // font-size: 26px; 
    }
      .prm__dsc p a {
        text-decoration: underline; }
        .prm__dsc p a:hover {
          text-decoration: none; }
  .prm_pht {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
		transition: transform 1s, -webkit-transform 1s; }
		
		.btt{
			border: none;
			outline: none;
    }
    
    .wrp{
      background: #faf9fe url(../img/backs/bg.png) 50%/100vh no-repeat;
      
}
 

@include media-breakpoint-down(sm) {
  .logo_name ,
  .crls_menu .txt,
  .crls__call .txt,
  .crls__langs,
  .crls-bc{
    display: none !important;
  }
  .crls-tl{
    // @include a-cent(x);
    width: 100%;
    padding-top: 0;
    // display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 0;
    .after{
      content: '';
      width: 24px;
      display: block;
    }
  }
  .btt-menu{
    font-size: 24px;
    i{
      height: em(2);
      // min-height: 2px;
      // font-size: em(2);
    }
  }
  .crls__logo .logo_main{
    margin-top: 10px;
    width: 104px;
    height: 44px;
  }
  .prm__dsc{
    padding-top: 0;
  }
  .crls-mobile{
    display: flex;
    justify-content: center;
    .crls_scls{

      flex-direction: row;
      position: static;
      display: flex;
    }
    position: static;
    a{
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .call{
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}