mixin s-content()
	// start s-content
	+b.s-content.section#s-content&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Разработка 
					span.text-primary мобильных 
					| 
					| приложений
			+e.body
				p. 
					Уже сегодня каждый второй пользователь заходит в интернет с помощью мобильного
					устройства, при этом они активно делают онлайн покупки в интернет-магазинах, ищут
					и заказывают нужные услуги. Откройте для вашего бизнеса целую мобильную вселенную.
					Многие организации и компании уже имеют собственные мобильные разаработки,
					которые уже сегодня дают свои положительные результаты.
				img.res-i(src="img/content-img-1.jpg", alt="")
				+e.sub-title
			
				+e.btn.btn.btn-primary() sadadasds
				+in-ch()
					+e.text dfdfsdf
				input(type='checkbox')
	// end s-content