mixin s-content-2()
	// start s-content
	+b.s-content.section#s-content&attributes(attributes)
		.container
			+b.section-title
				h1. 
					Почему стоит проводить презентации проектов лично
			+e.body
				+e.head
					p. 
						С презентациями в работе сталкиваются все участники digital-проектов:от продукт-оунеров
						и менеджеров до аналитиков и дизайнеров. Поговорим о том, почему все проезентации
						нужно проводить лично
					img.res-i(src="img/article-1.jpg", alt="")
				+e.sub-title Имидж и забота о клиенте
				p. 
					Главная задача презентации — донести информацию до коллег и заказчиков.
					Все члены команды должны уметь эффектно и убедительно представлять продукт.
				p. 
					Заказчик покупает у нас не только редизайн сайта или аналитическую экспертизу,
					а клиентский сервис. Возможно, кто-то рекомендовал ему нашу команду, как хороших специалистов. Или заказчик видел наши работы или выступление на конференции,
					и поэтому пригласил на проект.
				p. 
					Без личной презентации клиент может забраковать отличную концепцию. Или — выбрать слабое решение другой команды, которая все-таки смогла договориться о личной встрече..
				p. 
					Личная презентация повышает ценность работы, поэтому поможет в дальнейшем зарабатывать больше. Представьте, если бы Стив Джобс рассказывал об iPhone по электронной почте или веб-камере из дома, а не лично? Вряд ли это выглядело бы так эффектно.

				+e.sub-title Внимание клиента
				p. 
					Самая большая ошибка — отправлять презентацию по электронной почте — письмо может потеряться среди других или попасть в спам. Но даже если клиент увидел ваше письмо, не ожидайте, что он отложит все дела и будет внимательно изучать ваши слайды.
				p. 
					Люди постоянно переключается между рабочими задачами и отвлекается на встречи
					и обсуждения. Только вы лично можете сфокусировать его внимание.
		+e.main
			.container
				img.res-i(src="img/article-2.jpg", alt="")
	// end s-content

mixin s-content()
	// start s-content
	+b.s-content.section#s-content&attributes(attributes)
		.container
			+b.section-title
				h1 Разработка   мобильных   приложений
			+e.body
				+e.head
					p. 
						Уже сегодня каждый второй пользователь заходит в интернет с помощью мобильного
						устройства, при этом они активно делают онлайн покупки в интернет-магазинах, ищут
						и заказывают нужные услуги. Откройте для вашего бизнеса целую мобильную вселенную.
						Многие организации и компании уже имеют собственные мобильные разаработки,
						которые уже сегодня дают свои положительные результаты.
					img.res-i(src="img/content-img-1.jpg", alt="")
				+e.sub-title Основные этапы
				ul
					li
						strong Бизнес-анализ.  
						| 
						.
							В первую очередь нужно ответить на вопрос: «Зачем?». Каких целей вы планируете достигнуть с помощью мобильного приложения. Вы хотите продавать, или же хотите создать имиджевый проект? Не менее важно понять рынок, на котором действует клиент. Насколько активны конкуренты в сфере мобайл, что нравится целевой аудитории и какими приложениями она привыкла пользоваться. Все это важно, и на все эти вопросы нужно ответить прежде чем начать непосредственно разработку. На этом же этапе мы помогаем клиенту осуществить выбор мобильных платформ (разработка под ios, Android, Symbian, Windows Phone и др.)
					li
						strong Выработка.  
						| После того, как цели проекта ясны, мы начинаем разработку мобильного интерфейса. 	Для этого наши специалисты сперва создают прототипы разделов будущего приложения, с учетом особенностей поведения пользователей именно с мобильными приложениями. Здесь много нюансов, 	и они отличны от проектирования веб-страниц. Позже прототипы передаются специалисту, который создает дизайн мобильных приложений.
					li
						strong Внедрение.  
						| После того, как дизайн готов, приложение переходит в руки к разработчикам — и начинается программирование мобильных приложений. Специалисты внедряют все задуманное в жизнь, делая идеи реальностью. В разработке мобильных приложений мы используем передовые технологии, благодаря которым можно создать качественный проект за разумное время. Контроль и запуск. Теперь, когда функциональная часть работы завершена, мы проверяем приложения
					li

						strong Контроль и запуск. 
						|  Теперь, когда функциональная часть работы завершена, мы проверяем приложения для мобильных устройств на качество и работоспособность. Когда продукт доведен до идеала, мы проводим размещение в App Store, если это мобильные приложения для ios, либо в Google Play, если это Android приложение. Безусловно, запуск приложения — это лишь начало, ведь теперь нужно поработать над тем, чтобы ваша ЦА узнала о нем и пользовалась им.

			+e.btn.btt.btn-block.btt-blue(href="#") Смотреть все работы
	// end s-content